<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bobhub.recommendation.mapper.RecommendationMapper">
    <resultMap id="recommendationResultMap" type="com.bobhub.recommendation.domain.Recommendation">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="category" column="CATEGORY"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="star" column="STAR"/>
        <result property="totalTime" column="TOTAL_TIME"/>
        <result property="pricePerPerson" column="PRICE_PER_PERSON"/>
        <result property="isReservation" column="IS_RESERVATION"/>
    </resultMap>
    <select id="findAll" resultMap="recommendationResultMap">
        select * from RECOMMENDATION order by id desc
    </select>

    <insert id="insert" parameterType="com.bobhub.recommendation.domain.Recommendation">
        insert into RECOMMENDATION (ID, USER_ID, CATEGORY, STORE_NAME, STAR, TOTAL_TIME, PRICE_PER_PERSON, IS_RESERVATION)
        values (RECOMMENDATION_SEQ.NEXTVAL, #{userId}, #{category}, #{storeName}, #{star}, #{totalTime}, #{pricePerPerson}, #{isReservation})
    </insert>

    <!--    <update id = "updateHits" parameterType="Long">-->
    <!--        update RECOMMENDATION set boardHits=boardHits+1 where id = #{id}-->
    <!--    </update>-->

    <select id="findById" parameterType="Long" resultMap="recommendationResultMap">
        select * from RECOMMENDATION where id = #{id}
    </select>

    <update id="update">
        update RECOMMENDATION set USER_ID = #{userId},
                                  CATEGORY = #{category},
                                  STORE_NAME = #{storeName},
                                  STAR = #{star},
                                  TOTAL_TIME = #{totalTime},
                                  PRICE_PER_PERSON = #{pricePerPerson},
                                  IS_RESERVATION = #{isReservation}
        where id = #{id}
    </update>

    <delete id = "delete" parameterType="Long">
        delete from RECOMMENDATION where id = #{id}
    </delete>
</mapper>
