<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bobhub.recommendation.mapper.RecommendationMapper">
    <resultMap id="recommendationResultMap" type="com.bobhub.recommendation.domain.Recommendation">
        <id property="id" column="ID"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="star" column="STAR"/>
        <result property="totalTime" column="TOTAL_TIME"/>
        <result property="pricePerPerson" column="PRICE_PER_PERSON"/>
        <result property="isReservation" column="IS_RESERVATION"/>
    </resultMap>
    <select id="findAll" resultMap="recommendationResultMap">
        select * from RECOMMENDATION order by id desc
    </select>

    <insert id="insert" parameterType="com.bobhub.recommendation.domain.Recommendation">
        insert into RECOMMENDATION (ID, STORE_NAME, STAR, TOTAL_TIME, PRICE_PER_PERSON, IS_RESERVATION)
        values (RECOMMENDATION_SEQ.NEXTVAL, #{storeName}, #{star}, #{totalTime}, #{pricePerPerson}, #{isReservation})
    </insert>

    <!--    <update id = "updateHits" parameterType="Long">-->
    <!--        update RECOMMENDATION set boardHits=boardHits+1 where id = #{id}-->
    <!--    </update>-->

    <select id="findById" parameterType="Long" resultMap="recommendationResultMap">
        select * from RECOMMENDATION where id = #{id}
    </select>

    <update id="update">
        update RECOMMENDATION set STORE_NAME = #{storeName},
                                  STAR = #{star},
                                  TOTAL_TIME = #{totalTime},
                                  PRICE_PER_PERSON = #{pricePerPerson},
                                  IS_RESERVATION = #{isReservation}
        where id = #{id}
    </update>

    <delete id = "delete" parameterType="Long">
        delete from RECOMMENDATION where id = #{id}
    </delete>




    <!--    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="id">-->
    <!--        insert into board_table(boardTitle, boardWriter, boardPass, boardContents, fileAttached)-->
    <!--        values(#{boardTitle}, #{boardWriter}, #{boardPass}, #{boardContents}, #{fileAttached})-->
    <!--    </insert>-->
    <!--    <select id="findAll" resultType="board">-->
    <!--        select id, boardTitle, boardWriter, boardHits, date_format(createdAt, "%Y-%m-%d") as createdAt-->
    <!--        from board_table order by id desc-->
    <!--    </select>-->
    <!--    <update id="updateHits" parameterType="Long">-->
    <!--        update board_table set boardHits=boardHits+1 where id=#{id}-->
    <!--    </update>-->
    <!--    <select id="findById" parameterType="Long" resultType="board">-->
    <!--        select id, boardTitle, boardWriter, boardPass, boardContents, boardHits,-->
    <!--               date_format(createdAt, "%Y-%m-%d %H:%i:%s") as createdAt, fileAttached-->
    <!--        from board_table where id=#{id}-->
    <!--    </select>-->
    <!--    <update id="update">-->
    <!--        update board_table set boardTitle=#{boardTitle}, boardContents=#{boardContents} where id=#{id}-->
    <!--    </update>-->
    <!--    <delete id="delete" parameterType="Long">-->
    <!--        delete from board_table where id=#{id}-->
    <!--    </delete>-->
    <!--    <insert id="saveFile" parameterType="boardFile">-->
    <!--        insert into board_file_table(originalFileName, storedFileName, boardId)-->
    <!--        values (#{originalFileName}, #{storedFileName}, #{boardId})-->
    <!--    </insert>-->
    <!--    <select id="findFile" parameterType="Long" resultType="boardFile">-->
    <!--        select * from board_file_table where boardId = #{id}-->
    <!--    </select>-->
</mapper>
