<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bobhub.recommendation.mapper.RecommendationMapper">
    <resultMap id="recommendationResultMap" type="com.bobhub.recommendation.domain.Recommendation">
        <id property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="category" column="CATEGORY"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="averageRating" column="AVERAGE_RATING"/>
        <result property="totalTime" column="TOTAL_TIME"/>
        <result property="pricePerPerson" column="PRICE_PER_PERSON"/>
        <result property="isReservation" column="IS_RESERVATION"/>
        <result property="ratingCount" column="RATING_COUNT"/>
        <result property="deleted" column="DELETED"/>
        <result property="deletedAt" column="DELETED_AT"/>
    </resultMap>

    <select id="findAll" resultMap="recommendationResultMap">
        select * from RECOMMENDATION where DELETED = 0 order by id desc
    </select>

    <insert id="insert" parameterType="com.bobhub.recommendation.domain.Recommendation">
        insert into RECOMMENDATION (ID, USER_ID, CATEGORY, STORE_NAME, DESCRIPTION, TOTAL_TIME, PRICE_PER_PERSON, IS_RESERVATION, DELETED)
        values (RECOMMENDATION_SEQ.NEXTVAL, #{userId}, #{category}, #{storeName}, #{description}, #{totalTime}, #{pricePerPerson}, #{isReservation}, 0)
    </insert>

    <!--    <update id = "updateHits" parameterType="Long">-->
    <!--        update RECOMMENDATION set boardHits=boardHits+1 where id = #{id}-->
    <!--    </update>-->

    <select id="findById" parameterType="Long" resultMap="recommendationResultMap">
        select * from RECOMMENDATION where id = #{id} and DELETED = 0
    </select>

    <update id="update">
        update RECOMMENDATION set USER_ID = #{userId},
                                  CATEGORY = #{category},
                                  STORE_NAME = #{storeName},
                                  DESCRIPTION = #{description},
                                  TOTAL_TIME = #{totalTime},
                                  PRICE_PER_PERSON = #{pricePerPerson},
                                  IS_RESERVATION = #{isReservation}
        where id = #{id} and DELETED = 0
    </update>

    <update id="delete" parameterType="Long">
        update RECOMMENDATION
        set DELETED = 1,
            DELETED_AT = SYSTIMESTAMP
        where id = #{id}
    </update>

    <update id="updateRating" parameterType="long">
        UPDATE RECOMMENDATION
        SET
            AVERAGE_RATING = (
                SELECT NVL(AVG(STAR), 0)
                FROM RECOMMENDATION_COMMENT
                WHERE RECOMMENDATION_ID = #{recommendationId}
            ),
            RATING_COUNT = (
                SELECT COUNT(ID)
                FROM RECOMMENDATION_COMMENT
                WHERE RECOMMENDATION_ID = #{recommendationId}
            )
        WHERE ID = #{recommendationId}
    </update>
</mapper>
