/* 상단 로그인 영역 */
.top-right {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.top-right img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.top-right span {
    font-weight: 600;
}

/* 푸터 영역*/
.footer {
    margin-top: 80px;
    color: #998675;
    text-align: center;
}